version: "3.3"

services:
  web:
    image: 434615214996.dkr.ecr.ap-southeast-2.amazonaws.com/docker-nginx-go-local:latest
    ports:
    - "8087:80"
    links:
    - service-libpostal
  service-libpostal:
    build: .
    environment:
      GOLANG_VERSION: 1.11.1
      LIBPOSTAL_VERSION: "v1.0.0"
      LIBPOSTAL_DATADIR: "${LIBPOSTAL_DATADIR:-'/opt/libpostal_data'}"
      LIBPOSTAL_DATA_FILE: "${LIBPOSTAL_DATA_FILE:-'libpostal_data.tar.gz'}"
      LIBPOSTAL_PARSER_FILE: "${LIBPOSTAL_PARSER_FILE:-'parser.tar.gz'}"
      LIBPOSTAL_LANG_CLASS_FILE: "${LIBPOSTAL_LANG_CLASS_FILE:-'language_classifier.tar.gz'}"
      PARALLEL_WORKERS: "${PARALLEL_WORKERS:-20}"
      DOWNLOAD_LIBPOSTAL_DATA: "${DOWNLOAD_LIBPOSTAL_DATA:-false}"
      PKG_CONFIG_PATH: "${PKG_CONFIG_PATH:-'/usr/local/lib/pkgconfig'}"
    ports:
    - "8080:8080"
    volumes:
    - ./:/libpostal/